@import "bootstrap"
@import "constants"

html
  height: -webkit-fill-available
  body
    min-height: 100vh
    min-height: -webkit-fill-available
    position: relative
    padding-bottom: 50px
    @media (max-width: 779px)
      width: 100%
    @media (min-width: 780px)
      width: 414px
      margin: 0 auto
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1)

    .header
      padding: 10px 16px
      background-color: $color_main
      .logo
        font-size: 1.6rem
        color: #FFFFFF

    .flash
      .notice
        padding: 0 16px
        line-height: 2rem
        color: #FFFFFF
        background-color: #228222
      .alert
        margin: 0
        padding: 0 16px
        line-height: 2rem
        border: none
        border-radius: 0
        background-color: #FFC7AF

    .wrapper
      padding: 10px 16px

    .footer
      position: absolute
      bottom: 0
      height: 50px
      background-color: $color_main
      @media (max-width: 779px)
        width: 100%
      @media (min-width: 780px)
        width: 414px
      &.fixed
        position: fixed
