@import "constants"

body.home
  // トップページ（ドリンク選択）
  .drink-link
    position: relative
    background-size: cover
    cursor: pointer
    &#beer-link
      background-image: url("../images/beer.jpg")
    &#wine-link
      background-image: url("../images/wine.jpg")
    &#sake-link
      background-image: url("../images/sake.jpg")
    .dark-background
      width: 100%
      height: 210px
      background-color: rgba(0, 0, 0, 0.2)
    p
      position: absolute
      font-size: 1.6rem
      font-weight: bold
      color: #FFF
      top: 50%
      left: 50%
      -ms-transform: translate(-50%, -50%)
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      margin: 0

