@import "constants"

body.home.index, body.beers.top
  .camera-image
    width: 100%
    height: 100vh
    height: calc(var(--vh, 1vh) * 100 - 108px)
    object-fit: cover
  .beer-footer
    .MuiGrid-root.MuiGrid-item
      text-align: center
      .MuiButtonBase-root.MuiIconButton-root
        background-color: #FFF
        svg.MuiSvgIcon-root
          color: $color_main

  .drink-link
    position: relative
    background-size: cover
    cursor: pointer
    &#beer-link
      background-image: url("../images/beer.jpg")
    &#wine-link
      background-image: url("../images/wine.jpg")
    &#sake-link
      background-image: url("../images/sake.jpg")
    .dark-background
      width: 100%
      height: 210px
      background-color: rgba(0, 0, 0, 0.2)
    p
      position: absolute
      font-size: 1.6rem
      font-weight: bold
      color: #FFF
      top: 50%
      left: 50%
      -ms-transform: translate(-50%, -50%)
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      margin: 0

  .beer
    background-color: #a19b7c3b
    height: 120vh
    #select-beer-genre
      display: flex
      flex-wrap: wrap
      .beer-genre
        position: relative
        width: 50%
        padding-top: 50%
        font-size: 1.2rem
        background-size: cover
        &#lager
          background-image: url("../images/lager.jpg")
        &#ale
          background-image: url("../images/ale.jpg")
        &#others
          background-image: url("../images/others.jpg")
        &#genre-hint
          background-color: #AAA
        p
          position: absolute
          top: 50%
          left: 50%
          width: 100%
          text-align: center
          -ms-transform: translate(-50%, -50%)
          -webkit-transform: translate(-50%, -50%)
          transform: translate(-50%, -50%)
          margin: 0
          font-weight: bold
          span.main-font
            font-size: 1.4rem
          span.sub-font
            font-size: 0.9rem

  .wine

  .sake
