@import "constants"

body
  font-size: 0.9rem
  h1
    font-size: 24px
  a
    text-decoration: none
    color: #555555
    -webkit-tap-highlight-color: rgba(0,0,0,0)
  *:focus
    outline: none
  ul
    margin: 0
    padding: 0
  li
    list-style: none
  .display-none
    display: none
  .btn-original
    width: 100%
    color: #FFFFFF
    background-color: #DA8585
    border-radius: 18px
    &:hover
      background-color: $color_main
      color: #FFFFFF
  .form-floating
    label
      padding: 0.5rem 0.75rem
      font-size: 0.9rem
      opacity: 0.65
    .form-control
      height: 2.5rem
      &:focus, &:not(:placeholder-shown), &:-webkit-autofill
        padding-top: 1.2rem
    .form-control:focus ~ label, .form-control:not(:placeholder-shown) ~ label
      transform: scale(0.8) translateY(-0.5rem) translateX(0.15rem)

  h2.sub-title
    font-size: 1.2rem
    font-weight: bold

  // カメラ検索
  .camera-image
    width: 100%
    height: 100vh
    height: calc(var(--vh, 1vh) * 100 - 108px)
    object-fit: cover
  img.search-result-image
    width: 100%

  //モーダル
  .modal-wrapper
    @media (max-width: 779px)
      width: 100%
    @media (min-width: 780px)
      width: 414px
      margin: 0 auto

  //ログインモーダル
  .login-modal-box
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 80%
    max-width: 350px
    background-color: #FFF
    border-radius: 10px
    text-align: center
    padding-bottom: 30px
    .login-modal-close-btn
      text-align: right
      button
        border-radius: 0 10px 0 0
    #login-modal-title
      margin-bottom: 20px

  //レビューモーダル
  #review-send-btn
    position: fixed
    top: 22px
    right: 50%
    transform: translateX(140%)
    background-color: #FFF
    border-radius: 20px
    z-index: 1400
  .review-modal-box
    position: absolute
    bottom: 0
    height: 500px
    width: 100%
    background-color: #FFF
    text-align: center
    border-radius: 20% 20% 0 0
    .review-modal-icon-btns
      margin-top: 10px
    #comment-description
      margin: 20px 0 0
    .comment-form
      width: 300px
      margin-top: 20px
      textarea
        height: 19px !important
    .focused-comment-form
      .MuiInputBase-root
        display: block
        textarea
          height: 380px !important
    .rating-score
      position: absolute
      top: 70px
      transform: translateX(-50%)
      font-weight: bold
      font-size: 26px
    .rating-impression
      position: absolute
      top: 190px
      transform: translateX(-50%)
      font-size: 22px
    .react-stars
      position: relative
      width: 300px
      height: 300px
      margin: 0 auto
      span
        position: absolute !important
        top: 0
        left: calc(50% - 17px)
        display: inline-block
        width: 34px
        height: 150px
        transform-origin: center bottom
        padding-top: 10px
        &:nth-child(1)
          transform: rotate(-36deg)
          font-size: 30px !important
          padding-top: 0
        &:nth-child(2)
          transform: rotate(-50.4deg)
        &:nth-child(3)
          transform: rotate(-64.8deg)
        &:nth-child(4)
          transform: rotate(-79.2deg)
        &:nth-child(5)
          transform: rotate(-93.6deg)
        &:nth-child(6)
          transform: rotate(-108deg)
          font-size: 30px !important
          padding-top: 0
        &:nth-child(7)
          transform: rotate(-122.4deg)
        &:nth-child(8)
          transform: rotate(-136.8deg)
        &:nth-child(9)
          transform: rotate(-151.2deg)
        &:nth-child(10)
          transform: rotate(-165.6deg)
        &:nth-child(11)
          transform: rotate(-180deg)
          font-size: 30px !important
          padding-top: 0
        &:nth-child(12)
          transform: rotate(-194.4deg)
        &:nth-child(13)
          transform: rotate(-208.8deg)
        &:nth-child(14)
          transform: rotate(-223.2deg)
        &:nth-child(15)
          transform: rotate(-237.6deg)
        &:nth-child(16)
          transform: rotate(-252deg)
          font-size: 30px !important
          padding-top: 0
        &:nth-child(17)
          transform: rotate(-266.4deg)
        &:nth-child(18)
          transform: rotate(-280.8deg)
        &:nth-child(19)
          transform: rotate(-295.2deg)
        &:nth-child(20)
          transform: rotate(-309.6deg)
        &:nth-child(21)
          transform: rotate(-324deg)
          font-size: 30px !important
          padding-top: 0

